In [5]:
def connect():
    try:
        connection=pymysql.connect(host='localhost',
                               user='root',
                               password="sql5858",
                               database='human_resources')
        return connection
    except pymysql.MySQLError as e:
        return str(e)

In [12]:
def execute_search(cursor, sql: str, first_name: Optional[str], last_name: Optional[str]):
   
    conditions = []
    params = []
    
    if first_name:
        conditions.append["AND e.first_name LIKE %s"]
        params.append(f"%{first_name}%")
    else:
        conditions.append[""]
        
    if last_name:
        conditions[ "AND e.last_name LIKE %s"]
        params.append(f"%{last_name}%")
    else:
        conditions.append[""]
    formatted_sql = sql.format(**conditions)
    cursor.execute(formatted_sql, params)
    return cursor.fetchall()

In [13]:
from typing import Optional
def search_special_requests(first_name: Optional[str] = None, last_name: Optional[str] = None):
    try:
        connection= connect()
        cursor = connection.cursor(pymysql.cursors.DictCursor)
        
        sql = """
        SELECT 
            e.employee_id,
            e.first_name,
            e.last_name,
            e.department,
            e.job_title,
            sr.request_id,
            sr.request_type,
            sr.request_amount,
            sr.request_date,
            sr.status_of_request,
            sr.approved_by,
            sr.description,
            sr.answer_date
        FROM 
            employees e
            INNER JOIN special_requests sr ON e.employee_id = sr.employee_id
        WHERE 
            1=1
            {first_name_condition}
            {last_name_condition}
        ORDER BY 
            sr.request_date DESC
        """
        
        return execute_search(cursor, sql, first_name, last_name)
        
    except Exception as e:
        print(f"Arama sırasında hata oluştu: {str(e)}")
        return []
    
    finally:
        if cursor:
            cursor.close()
        if connection:
            connection.close()

In [14]:
import pymysql

In [16]:
search_special_requests(first_name="b",)

Arama sırasında hata oluştu: 'builtin_function_or_method' object is not subscriptable

[]

In [38]:
def search_special_requests(first_name: Optional[str] = None, last_name: Optional[str] = None):
    try:
        connection= connect()
        cursor = connection.cursor()
        
        sql = """
        SELECT 
            e.employee_id,
            e.first_name,
            e.last_name,
            e.department,
            e.job_title,
            sr.request_id,
            sr.request_type,
            sr.request_amount,
            sr.request_date,
            sr.status_of_request,
            sr.approved_by,
            sr.description,
            sr.answer_date
        FROM 
            employees e
            JOIN special_requests sr ON e.employee_id = sr.employee_id
        where e.first_name LIKE %s OR e.last_name LIKE %s

            """
        cursor.execute(sql, (f"%{first_name}%", f"%{last_name}%"))
        result = cursor.fetchall()
        return result
    except Exception as e:
        return e
    finally:
        cursor.close()
        connection.close()

In [39]:
search_special_requests(first_name="b")

((1,
  'Abbas',
  'Fernier',
  'IT',
  'Human resources',
  5,
  'Advance',
  Decimal('1500.00'),
  datetime.date(2024, 2, 15),
  'Accepted',
  2,
  'Acil tıbbi harcamalar için finansal destek ihtiyacı',
  datetime.date(2024, 12, 24)),
 (4,
  'Sibylle',
  'Houtby',
  'IT',
  'Senior Cost Accountant',
  8,
  'Other',
  Decimal('500.75'),
  datetime.date(2024, 2, 28),
  'Pending',
  6,
  'Mesleki gelişim kursu için finansman',
  datetime.date(2024, 3, 5)),
 (5,
  'Bail',
  'Frere',
  'Finance',
  'Data Coordinator',
  9,
  'Advance',
  Decimal('1000.00'),
  datetime.date(2024, 3, 10),
  'Pending',
  2,
  'Acil kişisel finansal ihtiyaç',
  datetime.date(2024, 12, 17)),
 (6,
  'Bondie',
  'Astbury',
  'IT',
  'VP Marketing',
  10,
  'Salary Increase',
  None,
  datetime.date(2024, 2, 5),
  'Rejected',
  5,
  'Performansa bağlı maaş ayarlaması',
  datetime.date(2024, 2, 15)))

In [36]:
    
def search_leave_request(first_name: Optional[str] = None, last_name: Optional[str] = None):
    try:
        connection= connect()
        cursor = connection.cursor()
        
        sql = """
        SELECT 
            e.employee_id,
            e.first_name,
            e.last_name,
            e.department,
            e.job_title,
            el.leave_request_id,
            el.status_of_request,
            el.request_date,
            el.approved_by,
            el.answer_date,
            el.leave_type,
            el.Start_date,
            el.end_date,
            el.total_dates,
            el.desc_request
        FROM 
            employees e
            JOIN employee_leaves el ON e.employee_id = el.employee_id
            where e.first_name LIKE %s OR e.last_name LIKE %s

            """
        cursor.execute(sql, (f"%{first_name}%", f"%{last_name}%"))
        result = cursor.fetchall()
        return result
    except Exception as e:
        return e
    finally:
        cursor.close()
        connection.close()

In [37]:
search_leave_request(first_name="b")

((1,
  'Abbas',
  'Fernier',
  'IT',
  'Human resources',
  39,
  'Accepted',
  datetime.date(2021, 7, 24),
  21,
  datetime.date(2022, 1, 10),
  'Unpaid Leave',
  datetime.date(2020, 12, 12),
  datetime.date(2022, 9, 3),
  25,
  'Cras non velit nec nisi vulputate nonummy. Maecenas tincidunt lacus at velit. Vivamus vel nulla eget eros elementum pellentesque.'),
 (4,
  'Sibylle',
  'Houtby',
  'IT',
  'Senior Cost Accountant',
  41,
  'Accepted',
  datetime.date(2020, 1, 26),
  7,
  datetime.date(2022, 11, 10),
  'Annual Leave',
  datetime.date(2020, 6, 17),
  datetime.date(2022, 11, 25),
  9,
  'Quisque porta volutpat erat. Quisque erat eros, viverra eget, congue eget, semper rutrum, nulla. Nunc purus.'),
 (5,
  'Bail',
  'Frere',
  'Finance',
  'Data Coordinator',
  33,
  'Accepted',
  datetime.date(2020, 5, 24),
  25,
  datetime.date(2020, 11, 2),
  'Unpaid Leave',
  datetime.date(2022, 5, 27),
  datetime.date(2020, 8, 25),
  5,
  'In congue. Etiam justo. Etiam pretium iaculis justo.\n\nIn hac habitasse platea dictumst. Etiam faucibus cursus urna. Ut tellus.'),
 (15,
  'Brynne',
  'Rorke',
  'Marketing',
  'Cost Accountant',
  36,
  'Accepted',
  datetime.date(2020, 8, 6),
  26,
  datetime.date(2020, 8, 8),
  'Unpaid Leave',
  datetime.date(2022, 5, 1),
  datetime.date(2022, 4, 19),
  9,
  'Nullam porttitor lacus at turpis. Donec posuere metus vitae ipsum. Aliquam non mauris.'),
 (15,
  'Brynne',
  'Rorke',
  'Marketing',
  'Cost Accountant',
  51,
  'Accepted',
  datetime.date(2020, 1, 24),
  23,
  datetime.date(2022, 4, 29),
  'Health Leave',
  datetime.date(2021, 11, 27),
  datetime.date(2021, 5, 10),
  7,
  'Etiam vel augue. Vestibulum rutrum rutrum neque. Aenean auctor gravida sem.\n\nPraesent id massa id nisl venenatis lacinia. Aenean sit amet justo. Morbi ut odio.\n\nCras mi pede, malesuada in, imperdiet et, commodo vulputate, justo. In blandit ultrices enim. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.'),
 (15,
  'Brynne',
  'Rorke',
  'Marketing',
  'Cost Accountant',
  59,
  'Rejected',
  datetime.date(2021, 8, 16),
  2,
  datetime.date(2024, 12, 24),
  'Unpaid Leave',
  datetime.date(2022, 10, 6),
  datetime.date(2020, 4, 25),
  29,
  'Duis bibendum, felis sed interdum venenatis, turpis enim blandit mi, in porttitor pede justo eu massa. Donec dapibus. Duis at velit eu est congue elementum.\n\nIn hac habitasse platea dictumst. Morbi vestibulum, velit id pretium iaculis, diam erat fermentum justo, nec condimentum neque sapien placerat ante. Nulla justo.\n\nAliquam quis turpis eget elit sodales scelerisque. Mauris sit amet eros. Suspendisse accumsan tortor quis turpis.'),
 (26,
  'Bailie',
  'Chasier',
  'HR',
  'Statistician IV',
  58,
  'Accepted',
  datetime.date(2021, 7, 3),
  2,
  datetime.date(2024, 12, 24),
  'Unpaid Leave',
  datetime.date(2022, 10, 14),
  datetime.date(2020, 4, 4),
  14,
  'Pellentesque at nulla. Suspendisse potenti. Cras in purus eu magna vulputate luctus.\n\nCum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus vestibulum sagittis sapien. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.\n\nEtiam vel augue. Vestibulum rutrum rutrum neque. Aenean auctor gravida sem.'))

In [40]:

def get_pending_special_requests():#Beklemede Olan tüm talepleri getirir enum type dikkat

    connection = connect()

    try:
        with connection.cursor() as cursor:
            sql = """
            SELECT * FROM special_requests 
            WHERE status_of_request = 'Pending'
            """
            cursor.execute(sql)
            return cursor.fetchall()
    except Exception as e:
        print(f"Bekleyen özel talepler getirilirken hata: {e}")
        return str(e)

    finally:
        cursor.close()
        connection.close()

In [42]:
get_pending_special_requests()

((8,
  4,
  'Other',
  Decimal('500.75'),
  datetime.date(2024, 2, 28),
  'Pending',
  6,
  'Mesleki gelişim kursu için finansman',
  datetime.date(2024, 3, 5),
  datetime.datetime(2024, 12, 17, 2, 16, 52)),
 (9,
  5,
  'Advance',
  Decimal('1000.00'),
  datetime.date(2024, 3, 10),
  'Pending',
  2,
  'Acil kişisel finansal ihtiyaç',
  datetime.date(2024, 12, 17),
  datetime.datetime(2024, 12, 17, 2, 16, 52)))

In [46]:
def pending_leave_requests_for_employee(employee_id):
    connection=connect()
    try:
        with connection.cursor() as cursor:
            query="select leave_type,status_of_request,request_date,answer_date from employee_leaves where employee_id=%s and status_of_request='Pending'"
            cursor.execute(query,(employee_id))
            records=cursor.fetchall()
            return records
    except  Exception as e:
        return str(e)
    finally:
        cursor.close()
        connection.close()

In [53]:
ehutcheong@sitemeter.com
852"l

NameError: name 'ehutcheong' is not defined

In [52]:
pending_leave_requests_for_employee(20)

(('Unpaid Leave',
  'Pending',
  datetime.date(2022, 1, 22),
  datetime.date(2021, 5, 20)),)