In [4]:

import pymysql
def connect():
    """
    This function will be used to handle connections in other functions.
    """
    try:
        connection=pymysql.connect(host='localhost',
                               user='root',
                               password="sql5858",
                               database='human_resources')
        return connection
    except pymysql.MySQLError as e:
        return str(e)

In [2]:
def see_message(emp_id): # for both side  ##^^##
    
    """ emp id is taken from login form to see messages which are sent to him. """
    try:
        connection=connect()
        with connection.cursor() as cursor:
            
            query="""select  m.id,e.first_name,e.last_name,m.message_text,m.message_date,m.subject from messages m join employees e on  m.from_emp_id=e.employee_id where to_emp_id=%s; 
"""
            cursor.execute(query,(emp_id))
            messages=cursor.fetchall()
            
            """
            ---- you can use this if you want to access each message information ----
            messages = records[0] 
            for (id, name, surname, text, date,subject) in messages:
             """
            return messages
    except Exception as e:
        return str(e)

    finally:
        cursor.close()
        connection.close()
        
records=see_message(8)

In [4]:
from datetime import date

today = date.today()
print(type(today))  # Output: <class 'datetime.date'>

<class 'datetime.date'>

In [3]:
records

((10,
  'Bradan',
  'Beisley',
  'this is single message attempting',
  datetime.datetime(2024, 11, 27, 0, 34, 44),
  None),
 (19,
  'Bradan',
  'Beisley',
  'this is single message attempting2',
  datetime.datetime(2024, 12, 3, 0, 56, 1),
  'acil!!'))

In [7]:
def load_employee_for_message_selection(search_term): #  for message interface
    connection=connect()
    try:

        with connection.cursor() as cursor:
            query="""select employee_id,
            first_name, 
            last_name, 
            job_title,
            department from employees where first_name like %s or  last_name=%s """
            cursor.execute(query, (f"%{search_term}%", f"%{search_term}%"))
            employees=cursor.fetchall()
            return employees
    except pymysql.MySQLError as e:
        return str(e)
    finally:
        connection.close()

In [8]:
load_employee_for_message_selection("hik")

((2, 'Hikmet', 'Catak', 'Human resources', 'engineer'),)

In [9]:
def load_employee_for_message_selection(search_term): #  for message interface
    connection=connect()
    try:

        with connection.cursor() as cursor:
            query="""select employee_id,
            first_name, 
            last_name, 
            job_title,
            department from employees where first_name like %s or  last_name=%s """
            cursor.execute(query, (f"%{search_term}%", f"%{search_term}%"))
            employees=cursor.fetchall()
            return employees
    except pymysql.MySQLError as e:
        return str(e)
    finally:
        connection.close()

In [12]:
load_employee_for_message_selection("")

((1, 'Alvin', 'Fernier', 'Human resources', 'IT'),
 (2, 'Hikmet', 'Catak', 'Human resources', 'engineer'),
 (3, 'Fevzi', 'Fid', 'Engineer', 'IT'),
 (4, 'Sibylle', 'Houtby', 'Senior Cost Accountant', 'IT'),
 (5, 'Bail', 'Frere', 'Data Coordinator', 'Finance'),
 (6, 'Bondie', 'Astbury', 'VP Marketing', 'IT'),
 (7, 'nikita', 'nikitaa', 'Assistant ', 'IT'),
 (8, 'ömer', 'faruk', 'engineer', 'Finance'),
 (9, 'Corilla', 'Cornejo', 'Operator', 'IT'),
 (10, 'Felipa', 'Helder', 'Biostatistician III', 'HR'),
 (11, 'Erik', 'Aust', 'Nurse Practicioner', 'Finance'),
 (12, 'Mallory', 'Dodimead', 'Database Administrator III', 'HR'),
 (13, 'Trina', 'Boig', 'VP Product Management', 'IT'),
 (14, 'Neill', 'Swannick', 'Senior Developer', 'HR'),
 (15, 'Brynne', 'Rorke', 'Cost Accountant', 'Marketing'),
 (16, 'Elwood', 'Crandon', 'Food Chemist', 'IT'),
 (17, 'Eddie', 'Hutcheon', 'Statistician I', 'Finance'),
 (18, 'Adriaens', 'Tulk', 'Professor', 'Finance'),
 (19, 'Ruth', 'Peile', 'Associate Professor', 'Finance'),
 (20, 'Aggie', 'Weedall', 'Software Engineer IV', 'IT'),
 (21, 'Artur', 'Reah', 'VP Product Management', 'IT'),
 (22, 'Joaquin', 'Hamal', 'Speech Pathologist', 'HR'),
 (23, 'Cointon', 'Matterface', 'Pharmacist', 'HR'),
 (24, 'Clayton', 'Hail', 'Engineer IV', 'IT'),
 (25, 'Jeana', 'Miko', 'General Manager', 'Marketing'),
 (26, 'Bailie', 'Chasier', 'Statistician IV', 'HR'),
 (27, 'Ellyn', 'Plastow', 'Payment Adjustment Coordinator', 'IT'),
 (28, 'Jackie', 'Latore', 'Software Test Engineer III', 'IT'),
 (29, 'Derick', 'Pietruszka', 'Design Engineer', 'Marketing'),
 (30, 'Frazier', 'Gamlyn', 'Actuary', 'HR'),
 (31, 'Hilary', 'Stilldale', 'Civil Engineer', 'Finance'),
 (32, 'Barth', 'Shotboult', 'VP Accounting', 'IT'),
 (33, 'Brit', 'Corness', 'Registered Nurse', 'IT'),
 (34, 'Roth', 'Tildesley', 'Sales Associate', 'Marketing'),
 (35, 'Glennie', 'Guiot', 'Electrical Engineer', 'Finance'),
 (36, 'Pascale', 'Hackleton', 'Environmental Specialist', 'Finance'),
 (37, 'Jeremias', 'Simonetto', 'Database Administrator III', 'IT'),
 (38, 'Frederick', 'Amberson', 'Community Outreach Specialist', 'Finance'),
 (39, 'Alfie', 'Cabera', 'Senior Editor', 'Finance'),
 (40, 'Prudi', 'Stedson', 'Senior Sales Associate', 'IT'),
 (41, 'Whit', 'Smillie', 'Paralegal', 'IT'),
 (42, 'Kym', 'Willoughway', 'Structural Engineer', 'Finance'),
 (43, 'Myranda', 'Bride', 'Operator', 'HR'),
 (44, 'Jennilee', 'Derl', 'Software Test Engineer III', 'IT'),
 (45, 'Lin', 'Dummigan', 'VP Accounting', 'IT'),
 (46, 'Miran', 'Tue', 'Clinical Specialist', 'Finance'),
 (47, 'Sophi', 'Rudham', 'Recruiter', 'IT'),
 (48, 'Waiter', 'Meach', 'Accountant II', 'Marketing'),
 (49, 'Shayne', 'Pringuer', 'Nuclear Power Engineer', 'HR'),
 (50, 'Sascha', 'Gamage', 'Database Administrator IV', 'Marketing'),
 (51, 'ali', 'San', 'Human Resources', 'IT'),
 (52, 'ali', 'Sai', 'Human Resources', 'IT'),
 (53, 'ali', 'ali', 'Human Resources', 'IT'),
 (54, 'emin', 'emin', 'engineer', 'it'),
 (55, 'user', 'user', 'c+', 'software'),
 (56, 'asd', 'dsa', 'software', 'it'),
 (57, 'asdsdsa', 'sdsadsa', 'software', 'it'))

In [15]:
from datetime import datetime,date
import calendar
def process_special_request(request_id, status, approved_by):#Yönetici talebi onaylar veya ret eder
    
    connection = connect()

    try:
        with connection.cursor() as cursor:
            answer_date = date.today()
            sql = """
            UPDATE special_requests 
            SET status_of_special_request = %s, 
                approved_by = %s, 
                answer_date = %s
            WHERE request_id = %s
            """
            cursor.execute(sql, (status, approved_by, answer_date,request_id))
            connection.commit()
            
    except Exception as e:
        
        print(f"Özel talep işlenirken hata: {e}")
        return False
    
    finally:
        cursor.close()
        connection.close()

In [16]:
process_special_request(5,"Approved",1)